<div
  class="card rounded-4 border-none"
  style="border: transparent; background-color: white"
>
  <div class="card-body">
    <h5 class="card-title">Spending - Last 7 days</h5>
    <section>
      <canvas id="myChart"></canvas>
    </section>
    <hr >
    <section class="mt-4 mb-2">
      <p class="mb-2 txt-gray fw-small">Total this month</p>
      <div class="d-flex justify-content-between">
        <span class="h2"> ${{total_actual_month_spend}}</span>
        <div>
          <p class="mb-0 text-end h6 card-subtitle m-0 text-body-secondary"> +2.4% </p>
          <p class="mb-0 txt-gray fw-small"> from the last month</p>
        </div>
      </div>
    </section>
  </div>
</div>
